.container {
	margin-top: 4.5rem;
}

.title {
	text-align: center;
}

.main {
	margin-top: 2.2rem;
	margin-bottom: 5rem;
	padding: 2.3rem;
	min-height: 30rem;
}

.formControl {
	min-width: 14rem;
	margin-top: 0.8rem !important;
}

