.container {
    margin-top: 4.5rem;
}

.main {
	margin-top: 2.2rem;
	margin-bottom: 5rem;
}

.loadTitle {
	text-align: center;
    clear: both;
    margin-bottom: 6px !important;
}

.loadWrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: wrap;
}

.card {
	padding: 1.2rem !important;
}